/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", serif;
}

/* common */

.container {
    display: flex;
    width: 1000px;
    margin: 0 auto;
    border: 2px dashed blue;
}

ul{
    list-style: none;
}

.btn{
    background-color: #0061fe;
    padding: 15px;
    color: white;
    display: inline-block;
}

.btn:hover{
    filter: brightness(1.4);
}
/**********HEADER**********/

header {
   
    position: sticky;
    top: 0px;
    z-index: 3;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0px #bbbbbb;
    padding: 30px;
}

header>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    display: flex;
    gap: 40px;
    align-items: center;
}

header a {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
}

/* jumbotron */
.jumbotron {
    background-color: #b4d0e6;
    padding: 100px 0 25px;
    margin-bottom: 200px;
}

.container-jumbo {
    display: flex;
    flex-direction: column;
    width: 1190px;
    margin: 0 auto;
}

h1{
    font-size: 80px;
}

.jumbo-down {
    display: flex;
    position: relative;
    top: 100px;
}

.jumbo-down div:first-child {
    max-width:30%;
}

.jumbo-down div+div {
    max-width: 70%;
}

.jumbo-down div+div img{
width: 100%;
}
/* section 2 */

.container-2{
    flex-direction: column; 
}

.fatturazione{
    display: flex;
    gap: 50px;
    padding: 70px 0 50px 0;
}

.fatturazione li{
    display: flex;
    gap: 5px;
}

.fatturazione li div:first-child{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.pallino1{
    border: 5px solid #0162ff;
}

.pallino2{
    border: 2px solid #e3e3e5;
}

.schede {
    display: flex;
    flex-wrap: wrap;
    gap:50px;
    
}

.piano{
    width: calc((100% - 100px) / 3);
    border: 1px dashed black;

}.piano-big{
    flex-grow: 1;
}

.soggetto{
    padding: 15px 0;
    text-align: center;
    border-bottom: 1px solid #d0cfd4;
}

.info-box{
    padding: 40px 30px 40px 30px;
}

.info-box ul:first-child{
    padding-bottom: 50px;
}

.tipologia{
    font-size: 18px;
    font-weight: bold;
}

.prezzo{
    font-size: 14px;
    font-weight: bold;
    padding: 25px 0 15px 0;
}

.durata{
    font-size: 14px;
    font-weight: lighter;
}

.specifiche1 li div{
    display: flex;
    padding-bottom: 30px;
    gap: 5px;
}

.underline-span{
    display: inline-block;
    padding: 35px 0;
    border-bottom: 1px solid black;
    margin-bottom: 50px;
}

h3{
    padding-bottom: 30px;
}
.fa-check{
    color: #186dfe;
}

.info-box-big{
    position: relative;
}

.enterprise{
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 20px;
}

.enterprise-sub{
    font-weight: bold;
    font-size: 14px;
}

.enterprise-btn{
    position: absolute;
    top: 30px;
    right: 30px;
}
/* section 4 */

.section-4{
    padding-top: 220px;
    padding-bottom: 170px;
}

.foto{
    max-width: 60%;
}

.foto img{
    width: 100%;
    display: block;
}
.partner{
    max-width: 40%;
    padding: 50px 50px 0 50px;
}

h4{
    font-size: 25px;
    padding-bottom: 20px;
}

.btn-partner{
    padding: 15px;
    display: inline-block;
    border: 1px solid black;
    margin-top: 30px;
}

.btn-partner:hover{
    background-color: #0061fe;
    filter: brightness(1.4);
}

/* section 5 */
.container-5{
    flex-direction: column; 
}

.titolo{
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 50px;
    /* flex-basis: 10%; */
}

.griglia{
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
}

.operazione {
    width: calc((100% - 100px) / 3);
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}

.operazione div img{
max-width: 100%;
}

h5{
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 35px;
}
/* section 6 */

.section-6{
    padding: 120px 0 180px 0;
}

.container-6{
    width: 1000px;
    height: 180px;
    margin: 0 auto;
    background-color: rgb(20, 154, 154);
    border: 1px dashed black;
}

/* footer */

footer{
    background-color: #000000;
    padding-top: 100px;
}

.container-footer{
    flex-direction: column;
    height: 450px;
}

.vari{
    flex-basis: 75%;
    border: 1px dashed white;
    display: flex;
    gap: 100px;
}

.vari > div{
    width: calc((100% - 400px) / 5);
    background-color: beige;
    border: 1px dashed white;
}

.lingua{
    flex-basis: 25%;
    border: 1px dashed white;
}